.App {
  text-align: center;
}

.header-body{
  margin: auto;
  overflow: hidden;
  background-color:rgb(0, 38, 87);
  color: white;
  width: 100%;
  top: 0;
}


.header-nav{
  background-color: black;
  color:white;
}

.header-nav ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0 auto;
}

.header-nav ul li{
  font-size: 1em;
  text-align: center;
  margin: 0;
  float: left;
  display: block;
  color: white;
  transition: 0.5s;
  text-decoration: none;
  padding: 10px 0;
  box-sizing: border-box;
  border-right: 1px solid grey;
  
}

.header-nav ul li button{
  padding: 0;
  border: none;
  background: none;
  outline: none;
  height: 0;
  top: 0;
  text-decoration: none;
}

.header-nav ul li:last-child{
  border-right: none;
}

.header-nav ul li:hover{
  background: #d5d9db;
}

.header-nav ul li .links{
  padding: 10px 100px;
  
}

.links{
  text-decoration: none;
  color: white;
}

.links:hover{
  text-decoration: none;
}


@media screen and (max-width:760px){

  .burger-nav{
      display: block;
      height: 40px;
      width: 100%;
      background:url(../../Images/burger.png) no-repeat 98% center;
      background-color: #404040;
      cursor: pointer;
  }

  .header-nav{
      background-color: black;
      width: 100%;
  }

  .header-nav ul{
      display: block;
      width: 100%;
      height: 0px;
      
  }

  .header-nav ul.open{
      height: auto;
      
  }

  .header-nav ul li{
      width: 100%;
      margin: 0;
      border-right: none;
      display: block;
      border-bottom: 1px solid grey;
      transition-duration: 0.5s;
      
  }

  .header-nav ul.open{
      animation: dropDown 1s forwards;

  }

  .header-nav ul li:last-child{
      border-bottom: none;
  }

  .header-nav ul li .links{
      padding: 10px 150px;
  }

  .header-nav ul li .links:active{
      text-decoration: none;

  }

  @keyframes dropDown {

      0%{
          opacity: 0;
          transform: translateY(-100%);
          height: 0;
      }

      30%{
          opacity: 0;
      }

      100%{

          opacity: 1;
          transform: translateY(0px);
          height: 168px;

      }
      
  }
}

