.report{
    margin: auto;
    width: 100%;
    text-align: left;
    padding: 2em;
    background-color: white;
}

.report-list{
    text-align: left;
    width: 100%;
}

.report-header{
    margin: auto;
    width: 70%;
}

.box{
    margin: auto;
    background-color: rgb(197, 197, 197);
    padding: 1em;
    border: 3px solid rgb(51, 52, 53);
    
    width: 70%;
}
.box img{
    display: block;
    margin: auto;
    width: 50%;

}